h1 {
  color: rgb(0, 255, 0);
  font-size: 200px;
}
.header {
  text-align: center;
}
.moving-image {
  width: 200px;
  height: auto;
  position: absolute;
  animation: moveAcross 3s linear alternate infinite;
}
@keyframes moveAcross {
  from {
    transform: translateX(-100%);
    transform: translateY(50%);
  }
  to {
    transform: translateX(100vw);
    transform: translateY(100vw);
  }
